<!-- FRAGMENT
ce bout de code est un fragment de HTML
qui va être réutilisé dans les templates
via l'attribut th:replace ou th:insert
-->
<header xmlns:sec="http://www.w3.org/1999/xhtml">
    <!-- quand je clique sur le titre du site, je reviens sur lapage d'accueil -->
    <a href="/"><h2 th:text="#{header.titre}"></h2></a>
    <nav>
        <!-- lien : balise a -->
        <a th:href="@{/films}" th:text="#{header.films}" sec:authorize="isAuthenticated()" ></a>
        <a th:href="@{/genres}" th:text="#{header.genres}" sec:authorize="hasRole('admin')"></a>
        <a th:href="@{/participants}" th:text="#{header.participants}" sec:authorize="hasRole('admin')"></a>
        <a th:href="@{/films/nouveau}" th:text="#{header.nouveauFilm}" sec:authorize="hasRole('admin')"></a>
        <a th:href="@{/participants/membres}" th:text="#{header.membre}" sec:authorize="hasRole('admin')"></a>
        <section class="inline-display" sec:authorize="isAuthenticated()">
            <!-- on offre la possibilité de se déconnecter (${#authentication.name}" : recupère le username de l'utilisateur connecté) -->
            <form th:action="@{/logout}" method="post">
                <button class="button" th:text="|déconnecter : ${#authentication.name}|"></button>
            </form>
        </section>
        <!-- on n'affiche cette section que pour les utilisateurs NON connectés -->
        <section class="inline-display" sec:authorize="!isAuthenticated()">
            <!-- on offre la possibilité de se connecter --> <a th:href="@{/login}">connexion</a>
        </section>
    </nav>
</header>