<!doctype html>
<!-- Je veux utiliser le layout défini dans le fichier layoutPrincipal -->
<html lang="en" layout:decorate="~{layouts/layoutPrincipal}" xmlns:layout="http://www.w3.org/1999/xhtml">
<body>

<!-- main : c'est le contenu principal de la page -->
<!-- avec layout:fragment="contenu", je vais remplacer le main de mon layout par celui de ma page -->
<main layout:fragment="contenu">

    <h2 th:text="#{films.titre(${films.size()})}" ></h2>

    <!-- balise de base : table -->
    <table>
        <!--entete de la table (première ligne) : thead-->
        <thead>
            <!--ligne :tr (table row)-->
            <tr>
                <!-- th (table header) : un colonne de titre de ma table -->
                <th th:text="#{table.genre}"></th>
                <th th:text="#{table.annee}" ></th>
                <th th:text="#{table.titre}"></th>
                <th th:text="#{table.realisateur}"></th>
                <th th:text="#{table.action}"></th>
            </tr>
        </thead>
        <!--donnees de la table : tbody-->
        <tbody>
            <!-- je vais générer une ligne  <tr> par film stocké dans mon application
                pour cela, on va utilser l'attribut : th:each
                qui va itérer sur la liste contenue dans mon attribut de model : films

                th:each="film : ${films}"
                c'est l'équivalent de la boucle FOR-EACH de java : for (Film film : films){}
                => ${films} correspond à l'attribut de modèle qui contient la liste
                film correspond à l'élément de l'itération courante
              -->
            <tr th:each="film : ${films}">
                <!-- td (table data) : une donnée de cellule d'un ligne de ma table -->
                <td th:text="${film.genre?.titre}"></td>
                <td th:text="${film.annee}"></td>
                <td th:text="${film.titre}"></td>
                <!-- COMMENT FORMATTER LES réalsiateurs avec le format PRENOM NOM -->
                <!--première possibilité : en utilisant les || -->
                <td th:text="|${film.realisateur?.prenom} ${film.realisateur?.nom}|"></td>
                <td>
                    <a class="lien" th:href="|/films/${film.id}|" th:text="#{table.detail}"></a>
                    <form th:action="|/films/${film.id}/avis|" method="get">
                        <input type="submit"  class="button" th:value="#{table.avis}">
                    </form>
<!--                        <a th:href="|/films/${film.id}/avis|" th:text="#{table.avis}"></a>-->
                </td>
            </tr>

        </tbody>
    </table>
</main>

</body>
</html>